.textoprodutosalta {
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.textoProdutos {
    background-color: rgb(249 248 254);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.textoSecProdutosAlta {
    display: flex;
    padding-left: 130px;
    font-size: xx-large;
    font-weight: 600;
    color: #000000;
}
.linkVerTodos {
    display: flex;
    text-decoration:none;
    color: #C92071;
    margin-right: 145px;
}
.linkVerTodos:hover {
    color: #C92071;
    padding-bottom: 10px;
}