body {
  background: #f9f8fe;
}

.container {
  margin: 20px;
}
.menu{
  margin-left:100px;
}
.menu label {
  font-size: 14px;
  font-weight: 500;
  color: #474747;
}

.content {
  display: flex;
  width: 85%;
  margin-left: 100px;
}

.main-image {
  width: 670px;
  height: 520px;
}

.secondary-image {
  display: flex;
  top: 25px;
  position: relative;
  gap: 1px;
}

main {
  top: 40px;
  position: relative;

  max-width: 53.4%;
}

.T-aside {
  position: relative;
  width: 600px;
  margin-left: 50px;
}
.aside h1 {
  font-weight: 700px;
  size: 32px;
  width: 500px;
  margin: 0;
  background-color: black;
}

.revolution {
  font-size: 30px;
  margin-top: 30px;
}

.style-Price {
  font-weight: bold;
  color: rgb(112, 111, 111);
  margin-top: 10px;
}

.description-product {
  color: #8f8f8f;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
}

.talls {
  color: #8f8f8f;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
}

.choice {
  display: flex;
  gap: 10px;
}

.botaoComprar {
  margin-top: 10px;
}

.d-block {
  background-color: lightcoral;
  width: 100%;
  height: 450px;
}
.d-block2 {
  background-color: lightgreen;
  width: 100%;
  height: 450px;
}
.d-block3 {
  background-color: lightblue;
  width: 100%;
  height: 450px;
}

.avalie {
  margin-right: 10px;
  margin-left: 10px;
}
