.colecoesEmDestaqueDois {
    justify-content: center;
    background-color: rgb(249 248 254);
}
.iconesColecoes {
    display: flex;
    justify-content: center;
    margin: 40px;
    padding: 80px;
    gap: 52px;
}
.secPrincipalIcones {
    background-color: rgb(249 248 254);
    padding-bottom: 50px;
}
.secBlusas {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    gap: 30px;
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.50);
}
.secBlusas:hover{
   padding-bottom: 10px;
}
.blusas {
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 60px;
}
.textoBlusa {
    font-weight: 630;
    font-family: "inter" sans-serif;
    font-size: larger;
    font: normal;
}
.secCalcas {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    flex-direction: column;
    gap: 30px;
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.50);
}
.secCalcas:hover{
   padding-bottom: 10px;
}
.calcas {
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 60px;
}
.textoCalca {
    font-weight: 630;
    font-family: "inter" sans-serif;
    font-size: larger;
    font: normal;
}
.secBones {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    gap: 30px;
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.50);
}
.secBones:hover{
   padding-bottom: 10px;
}
.bones {
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 54px;
}
.textoBones {
    font-weight: 630;
    font-family: "inter" sans-serif;
    font-size: larger;
    font: normal;
}
.secHeadPhones {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    gap: 30px;
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.50);
}
.secHeadPhones:hover{
   padding-bottom: 10px;
}
.headPhones {
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 64px;
}
.textoHeadPhones {
    font-weight: 630;
    font-family: "inter" sans-serif;
    font-size: larger;
    font: normal;
}
.secTenis {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.50);
}
.secTenis:hover{
   padding-bottom: 10px;
}
.sapatin {
    display: flex;
    justify-content: space-around;
    align-self: center;
    margin-top: 60px;
    margin-left: 10px;
}
.textoSapatoColecao {
    font-weight: 630;
    font-family: "inter" sans-serif;
    font-size: larger;
    font: normal;
    margin-top: 30px;
}
