.result-t {
  margin-top: 48px;
  margin-left: 40px;
}

.search-Filter {
  display: flex;
  justify-content: right;

  border: none;
  width: 200px;
  margin-left: 999px;
  margin-top: -50px; 
}

.select-search{
  width: 200px;
  height: 30px;
  border-radius: 5px;
  border: none;
 
  color: #474747;
  font-size: 14px;
}

.search-inside {
  margin-left: -1px;
  width: 280px;
}
